celery
channels
channels_redis
daphne
redis
django-q
django_celery_results
firebase_admin
google-ai-generativelanguage
google-api-python-client
google-cloud-firestore
google-cloud-storage
google-genai
google-generativeai
grpcio
grpcio-status
matplotlib
numpy
pandas
pdf2image
openai
mysqlclient
psycopg2-binary
PyQt5
PyQt6
pyinstaller
selenium
undetected-chromedriver
svglib
lxml
pydantic
pydantic_core
pyHanko
pyhanko-certvalidator
boto3
botocore
django-storages
appwrite